@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


#root{
  font-family: 'Poppins', sans-serif;
}
code {
  font-family: 'Poppins', sans-serif;
}
*{
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: Mardoto-Reguliar;
  src: url("/src/components/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("/src/components/fonts/Poppins-Bold.ttf");
}